{
	email enovikov11@yandex.com
}

http://*.vpn.tgr.rs {
	redir https://{host}:2443{uri} 301
}

http://*.ai.tgr.rs {
	redir https://{host}:1443{uri} 301
}

vllm.vpn.tgr.rs:2443 {
	reverse_proxy vllm:8000
}

forgejo.vpn.tgr.rs:2443 {
	reverse_proxy forgejo:3000
}

hermes.vpn.tgr.rs:2443 {
	reverse_proxy hermes:9119
}

pages.ai.tgr.rs:1443 {
	root * /srv/data
	encode gzip

	@blocked path /*.git* /*.hermes* /*.env*
	respond @blocked 404

	file_server
}
